:root {
    --col-text: #CCCCCC;
    --col-background: #333333;
    --col-background-light: #1A1A1A;
    --col-accent: #008080;
    --col-accent-light: #4CC9D0;
    --col-link: #00FFFF;
    --col-button: #2F4F4F;

    --font-mono: monospace;
    --font-text: Poppins, sans-serif;
    --font-size-std: 20px;
    --font-size-small-screen: 14px;
}

.root {
    display: flex;
    flex-direction: column;
    background-color: var(--col-background);
    color: var(--col-text);
    font-size: var(--font-size-small-screen);
}

.root-content {
    width: 100%;
}

.hero-header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: var(font-text);
    background: linear-gradient(to bottom, var(--col-background-light), var(--col-background));
    padding: 15px;

}

.hero-header .header-super {
    font-size: 30px;
    color: var(--col-accent-light);
    font-family: var(--font-mono);
}

.hero-header-content {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.hero-header-content h1 {
    font-size: 40px;
    color: var(--col-accent-light);
    font-family: var(--font-text);

}
    
.hero-header-content h2 {
    font-size: 25px;
    color: var(--col-accent);
    font-family: var(--font-mono);
               
}

.hero-header-social-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.clickable-icon:hover { 
    background-color: var(--col-accent);
}
.clickable-icon {
    background-color: var(--col-text);
    height: 25px;
    width: 25px;
}

@media screen and (min-width: 600px){
    .clickable-icon {
        background-color: var(--col-text);
        height: 50px;
        width: 50px;
    }
}

.linkedin-icon {
    mask-image: url("/public/linkedin-logo.svg")
}

.github-icon {
    mask-image: url("/public/github-icon.svg")
}


@media screen and (min-width: 600px){

    .root {
        font-size: var(--font-size-std);
    }

    .hero-header-content h1 {
        font-size: 75px
    }

    .hero-header-content h2 {
        font-size: 50px
    }

}

@media screen and (min-width: 1000px){
    .root {
        display: flex;
        flex-direction: row;
    }

}

.page-section h1 {
    font-family: var(--font-mono)
}

.page-section h2 {
    font-family: var(--font-mono)
}

.page-section {
    max-width: 800px;
    margin-bottom: 5em;
    text-align: justify;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.resume {
    display: flex;
    flex-direction: column;
}

.resume h3 {
    margin: 0;
}

.resume .role {
  position: relative;
  padding-left: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.resume .role .dot {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: var(--col-accent-light); 
  border-radius: 50%;
}

/* Add a vertical line between dots */
.resume .role:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 12px; /* Adjust this value to align with the center of the dot */
  left: 5px; /* Adjust this value based on the width of your dot */
  width: 2px; /* Line width */
  height: 100%;
  background-color: var(--col-accent-light); 
}

.resume .role .skill-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.resume .role .content .skill-list .skill-pill {
    border-radius: 5px;
    background-color: var(--col-accent);
    color:white;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: var(--font-size-std);
    font-size: var(--font-size-small-screen);
    user-select: none;
}

.resume .role .content .skill-list .skill-pill:hover{
    background-color: var(--col-accent-light);
}
